#wrapper {
  position: relative;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0B3954;
}
#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 550px;
  background-color: #FF6663;
  margin: 0px 0px;
  border: 2px solid white;
}
#main_header {
  color: #FEFFFE;
  font-size: 2.3em;
  margin-top: 0px;
  text-shadow: 1px 1px 4px #0B3954;
}
.screen {
  background-color: #FEFFFE;
  color: #0B3954;
  font-size: 2.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .4em .6em;
  margin-bottom: .2em;
  min-height: 25px;
  border-radius: 10px;
}
#rest_screen {
  font-size: 1.5em;
}
#instructions {
  color: #0B3954;
}
#instructions i {
  padding: 2px 3px;
  background-color: white;
  border-radius: 2px;
  font-weight: 600;
}
#increase_btn {

}
#decrease_btn {

}
#adjust_timer_container {
  margin-bottom: .5em;
}
.btn {
  width: 150px;
  font-size: 2em;
  background-color: #FEFFFE;
  color: #0B3954;
}
#adjust_timer_length {
  background-color: yellow;
}
#start_button {
  background-color: #BFD7EA;
}
#reset_button {
  background-color: #BFD7EA;
}
